.container {
    padding: 20px;
    text-align: center;
}

.header {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #000000;
}

.main {
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    margin: 10px 0;
}

.link {
    color: #00397a;
    text-decoration:solid;
    font-weight: bolder;
}

.link:hover {
    text-decoration: underline;
}